*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #dde1e7;
}

.calcContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dde1e7;
}

.flexContainer{
    position: absolute;
    margin: auto;
    top: 0; bottom: 0;
    left: 0; right: 0;

    background-color: #dde1e7;
    box-shadow: -3px -3px 7px #ffffff73, 5px 5px 7px rgba(94, 104, 121, .288);
    
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;

    height: 400px;
    width: 300px;
}

button{
    width: 50px;
    height: 50px;
    margin: 4px;
    border: none;
    background-color: rgb(121, 121, 121);
    color: white;
    font-size: 20px;
    font-weight: 600;
    border-radius: 4px;
}

button:hover{
    background-color: rgb(154, 154, 154);
}

.btnZero{
    width: 113px;
    border-bottom-left-radius: 15px;
}

.btnIgual{
   border-bottom-right-radius: 15px;
}

.display{
    height: 40px;
    margin: 4px;
    width:236px ;
}

input{
    text-align: right;
    border: none;
    padding: 10px;
    font-size: 20px;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}